header {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 4rem;
  position: fixed;
  top: 0;
  border-bottom: 1px solid gray;
  background-color: white;
  z-index: 9;
}

span {
  font-size: 2rem;
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  font-size: 1.3rem;
}

a {
  cursor: pointer;
  transition: 1s linear;
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

@media (max-width: 636px) {
  span {
    font-size: 1.5rem;
  }

  header {
    flex-direction: column;
    gap: .6rem;
    height: auto;
    padding-block: .7rem;
  }

  ul {
    font-size: .9rem;
  }
}
