section {
  width: 100vw;
  height: calc(100vh - 7rem);
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.container-left-img-container {
  background-color: transparent;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.container-left-img-container img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.name-container {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.name-container p {
  padding-top: .9rem;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .3rem;
}

.data-container-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.data-container-element div {
  padding-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .7rem;
}

input {
  width: 18rem;
  border: 1px solid var(--border__gray);
  padding-block: .5rem;
  padding-inline: 1rem;
  border-radius: .5rem;
}

input[type="submit"] {
  background-color: var(--background__lightgrayblue);
  border-color: var(--background__lightgrayblue);
  color: white;
  cursor: pointer;
  transition: 1s linear;
  font-size: 1rem;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: var(--background__darkgrayblue);
  border: 2px solid var(--background__darkgrayblue);
}

@media (max-width: 710px) {
  section {
    height: 100%;
  }

  .section-container {
    height: 100%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    flex-direction: column;
  }
}
