<section>
  <div class="section-container">
    <div class="container-left">
      <div class="container-left-img-container">
        <img src="{{ user.photo }}" alt="{{ user.name }} {{ user.last_name }}">
      </div>
      <div class="name-container">
        <i class="bi bi-book"></i>
        <p>{{ user.name }} {{ user.last_name }}</p>
      </div>
      <div class="data-container">
        <div class="data-container-element">
          <p>Nombre:</p><div>{{ user.name }}</div>
        </div>
        <div class="data-container-element">
          <p>Apellido:</p><div>{{ user.last_name }}</div>
        </div>
        <div class="data-container-element">
          <p>Correo:</p><div>{{ user.email }}</div>
        </div>
      </div>
    </div>

    <div class="container-right">
      <h1>Editar datos</h1>
      <form (submit)="modificar(newName, newLastName, newEmail, newPhoto)">
        <input #newName type="text" id="name" name="name" placeholder="Nombre">
        <input #newLastName type="text" id="last_name" name="last_name" placeholder="Apellidos">
        <input #newEmail type="email" id="email" name="email" placeholder="Correo">
        <input #newPhoto type="text" id="photo" name="photo" placeholder="Url">
        <input type="submit" value="Modificar">
      </form>
    </div>
  </div>
</section>
