<section>
  <div class="container-search">
    <input #searchId id="search" name="search" type="number" placeholder="Buscador de libros...">
    <button (click)="mostrarUno(searchId)"><i class="bi bi-search"></i></button>
  </div>
  <div class="container-books">

    <div *ngIf="apiService.book; else showAll">
      <app-card
      [bookPadre]="apiService.book"
      [isEven]="!even"
      (eventoBook)="eliminar($event)"
      >
      </app-card>
    </div>

    <ng-template #showAll>
      <app-card
        *ngFor="let book of apiService.books; let even = even"
        [bookPadre]="book"
        [isEven]="even"
        (eventoBook)="eliminar($event)"
      >
      </app-card>
    </ng-template>

  </div>
</section>
