section {
  width: 100vw;
  min-height: calc(100vh - 7rem);
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

span {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border__gray);
  border-radius: .5rem;
  padding-right: 1rem;
  margin-top: 3rem;
}

.container-search input {
  width: 18rem;
  padding-block: .5rem;
  padding-inline: 1rem;
  border: none;
  border-radius: .5rem;
}

.container-search input:focus {
  outline: none;
}

.container-search button {
  background: transparent;
  border: none;
  color: var(--border__gray);
  cursor: pointer;
}

.container-books {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 516px) {
  .container-search {
    margin-top: 7rem;
  }
}

@media (max-width: 335px) {
  .container-search input {
    width: 80vw;
  }

  .container-search {
    margin-top: 8rem;
  }

  span {
    font-size: 1rem;
  }
}

@media (max-width: 272px) {
  .container-search {
    margin-top: 11rem;
  }

  span {
    font-size: 1rem;
  }
}
