@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
  border-top: 1px solid gray;
  background-color: white;
  z-index: 9;
}

span {
  font-size: .8rem;
}

ul {
  font-size: .9rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1rem;
}

li {
  cursor: pointer;
  transition: 1s linear;
}

li:hover {
  color: var(--background__darkgrayblue);
}

@media (max-width: 503px) {
  footer {
    gap: 3rem;
  }

  span {
    font-size: .6rem;
  }
}

@media (max-width: 370px) {
  footer {
    gap: 2rem;
  }

  span {
    font-size: .4rem;
  }
}
