section {
  width: 100vw;
  height: calc(100vh - 7rem);
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container-form h1 {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  width: 18rem;
  border: 2px solid var(--border__gray);
  padding-block: .8rem;
  padding-inline: 1rem;
  border-radius: .5rem;
}

input[type="submit"] {
  background-color: var(--background__lightgrayblue);
  border-color: var(--background__lightgrayblue);
  color: white;
  cursor: pointer;
  transition: 1s linear;
  font-size: 1rem;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: var(--background__darkgrayblue);
  border: 2px solid var(--background__darkgrayblue);
}
