.form-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h1 {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .7rem;
}

input {
  width: 18rem;
  /* border: 1px solid var(--border__gray);
  padding-block: .5rem;
  padding-inline: 1rem;
  border-radius: .5rem; */
}

/* input[type="submit"] {
  background-color: var(--background__lightgrayblue);
  border-color: var(--background__lightgrayblue);
  color: white;
  cursor: pointer;
  transition: 1s linear;
  font-size: 1rem;
  font-weight: bold;
} */

/* input[type="submit"] {
  background-color: var(--background__darkgrayblue);
  border: 1px solid var(--background__darkgrayblue);
  color: white;
  transition: 1s linear;
  font-size: 1rem;
  font-weight: bold;
} */

/* input[type="submit"]:invalid {
  background-color: var(--background__lightgrayblue);
  border-color: var(--background__lightgrayblue);
  color: white;
  font-size: 1rem;
  font-weight: bold;
} */

/* input[type="submit"]:hover {
  background-color: var(--background__darkgrayblue);
  border: 1px solid var(--background__darkgrayblue);
} */
