<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container">
        <h1>Regístrate</h1>
        <form [formGroup]="myForm">
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              id="name"
              name="name"
              placeholder="Nombre"
              formControlName="name"
              [ngClass]="{'is-invalid': (myForm.get('name').dirty || myForm.get('name').touched) && !myForm.get('name').valid}"
            >
            <div *ngIf="!myForm.get('name').valid" class="invalid-feedback">El nombre es necesario</div>
          </div>

          <div class="form-group">
            <input
              class="form-control"
              type="text"
              id="last_name"
              name="last_name"
              placeholder="Apellido"
              formControlName="last_name"
              [ngClass]="{'is-invalid': (myForm.get('last_name').dirty || myForm.get('last_name').touched) && !myForm.get('last_name').valid}"
            >
            <div *ngIf="!myForm.get('last_name').valid" class="invalid-feedback">El apellido es necesario</div>
          </div>

          <div class="form-group">
            <input
              class="form-control"
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              formControlName="email"
              [ngClass]="{'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}"
            >
            <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
              <div *ngIf="myForm.get('email').errors.required">La dirección de email es obligatoria</div>
              <div *ngIf="myForm.get('email').errors.email">Dirección email incorrecta</div>
            </div>
          </div>

          <div class="form-group">
            <input
              class="form-control"
              type="text"
              id="photo"
              name="photo"
              placeholder="URL"
              formControlName="photo"
              [ngClass]="{'is-invalid': (myForm.get('photo').dirty || myForm.get('photo').touched) && !myForm.get('photo').valid}"
            >
            <div *ngIf="!myForm.get('photo').valid" class="invalid-feedback">El URL es necesario</div>
          </div>

          <div class="form-group">
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              placeholder="Contraseña"
              formControlName="password"
              [ngClass]="{'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}"
            >
            <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
              <div *ngIf="myForm.get('password').errors.required">La clave es obligatoria</div>
              <div *ngIf="myForm.get('password').errors.minlength">La clave debe tener al menos 8 caracteres</div>
            </div>
          </div>

          <div class="form-group">
            <input
              class="form-control"
              type="password"
              id="confirm"
              name="confirm"
              placeholder="Repetir contraseña"
              formControlName="confirm"
              [ngClass]="{'is-invalid': (myForm.get('confirm').dirty || myForm.get('confirm').touched) && !myForm.get('confirm').valid}"
            >
            <div *ngIf="!myForm.get('confirm').valid" class="invalid-feedback">
              <div *ngIf="myForm.get('confirm').errors.required">La clave es obligatoria</div>
              <div *ngIf="myForm.get('confirm').errors.minlength">La clave debe tener al menos 8 caracteres</div>
              <div *ngIf="myForm.get('confirm').errors.matchPassword">Las claves no coinciden</div>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Registrarse" (click)="register()" [disabled]="myForm.invalid">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
