* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --background__gray: #5b5a5aa7;
  --border__gray: #979696;
  --background__darkblue: #0000ff;
  --background__lightblue: #5656ff;
  --background__darkgrayblue: #005A95;
  --background__lightgrayblue: #3e83b0;
  --background__darkgreen: #008000;
  --background__lightgreen: #53ae53;
}

app-root {
  width: 100vw;
  height: 100vh;
}
